/**/
body{
    text-align: center;
    color: rgb(0, 81, 255);
    background-color: rgb(176, 175, 255);
    justify-content: center;
}

button{
    width: 300px;
    height: 35px;
    background-color:  rgb(77, 103, 218);
    border-radius: 8px;
    justify-content: center;
}

div{
   padding: 1%;
   width: auto;
   height: auto;
   justify-content: center;
}

label{
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50;
    text-align: center;
    font-family: cursive;
}
